# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- Identify key roles in Data science
- Know the libraries used in Data Science
- Learn about the tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas in Python
2. ggplot in R
3. Spark in Apache Spark

| **Data Science Tools** |
| ----- |
| R Studio |
| Jupyter |
| Git / Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Eze-Emiri CN